
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #c7d3e1;
}

header {
    background-color: #1012a3;
    padding: 15px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    font-size: 50px;
    color: #1012a3;
}

.video {
    background-color: #222722;
    overflow: hidden;
}
.img-video{
    width: 100%;
}

.container {
    padding: 20px;
    text-align: center;
}

.img {
    width: 300px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background-color: #1012a3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #377dff;
}

footer p {
    background-color: #1012a3;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
